{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="About">
    <img src="{% static 'images/me.jpg' %}" alt="prof" width="300" height="200" class="pic">
    <div class="obj">
        <h2>About Me</h2>
        <p>A dedicated and proactive Master's in Computer Science student at NJIT with a passion for leveraging advanced technologies to solve complex problems. Seeking opportunities to apply theoretical knowledge gained through coursework and hands-on experience to contribute effectively to innovative projects in the field of computer science.</p>
    </div>
</div>

{% endblock content %}